

@if (country()) {

<div class="w-full aspect-video overflow-hidden rounded-xl mb-4 hover:shadow-[0_0_20px_rgba(157,0,255,0.3)] transition-shadow ">
  <img
    [src]="country().flags.svg"
    [alt]="country().flags.alt"
    class="w-full h-auto object-cover rounded-lg mb-4"
  >
</div>

<h2 class="font-orbitron text-neon-pink text-xl mb-2">
    {{ country().translations['spa']?.common || country().name.common}}
</h2>

<p class="text-sm text-white">
  📍 <span class="text-gray-400">Capital:</span>
      {{ country().capital }}
</p>
<p class="text-white">
  📍 <span class="text-gray-400">Continente:</span>
  {{ traducirContinente(country().continents[0]) }}
</p>

<p class="text-sm text-white">
  👥 <span class="text-gray-400">Población:</span>
  {{ country().population | number }}
</p>

<p *ngIf="country().currencies" class="text-white">
  💰 <span class="text-gray-400">Moneda:</span>
  <span *ngFor="let curr of country().currencies | keyvalue">
    {{ $any(curr.value).name }} ({{ $any(curr.value).symbol }})
  </span>
</p>

} @else {
  <p class="text-neon-cyan animate-pulse">Cargando datos...</p>
}


