/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

// Configuración de DaisyUI para la v4
@plugin "daisyui";

@theme {
  /* Aquí definimos tus colores neón para usarlos como clases de Tailwind */
  --color-neon-cyan: #00f2ff;
  --color-neon-pink: #ff007f;
  --color-neon-violet: #9d00ff;
  --color-dark-bg: #0a0a0a;

  /* Esto nos permitirá usar fuentes personalizadas después */
  --font-orbitron: "Orbitron", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
